.bg__footer {
  background-color: #fbfbfb;
  padding-top: 40px ;
}

.footer {
  display: flex;
  font-size: 14px;

  .title {
    color: #747474;
    font-weight: 600;
    margin: 20px 0;
    font-size: 12px;
    text-transform: uppercase;
  }

  .column {
    width: calc(100% / 5);

    a {
      color: #918987
    }

    &.column--1 {
      .list {
        font-size: 12px;
        padding: 7px 0;

        a:hover {
          & {
            color: orange;
          }
        }
      }
    }

    &.column--logo {

      .logo {
        display: flex;
        flex-wrap: wrap;
        width: calc(70px * 3);

        .brand {
          background-color: transparent;
          width: 55px;
          height: 29px;
          overflow: hidden;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 1.5px;
        }
      }
    }

    &.column--mxh {
      .mxh {
        & .item {
          padding: 10px 0;

          .tit {
            display: flex;

            & .logo {
              margin-right: 10px;
            }

            & a {
              font-size: 12px;
              color: #4a4a4a;

              &:hover {
                color: orange;
              }
            }

          }


        }
      }
    }

    &.column--app {
      .app {
        display: flex;
        position: relative;
        align-items: center;

        .link {
          position: absolute;
          background-color: blue;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          opacity: 0;
        }

        .image {
          width: 84px;
          height: 84px;
          overflow: hidden;

        }

        .txt {
          padding: 10px;
          font-size: 16px;
          color: #4a4a4a;

          .apple {
            padding-bottom: 20px;
          }
        }
      }
    }

  }
}

.copy {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #4a4a4a;
  padding: 30px 0;
  border-top: solid 1px #ddd;
  margin-top: 30px;

  .copy--left {
    width: 350px;
  }

  .copy--right {
    flex: 1;
    display: flex;
    justify-content: flex-end;

    .list {
      display: flex;

      .item {

        padding: 0 5px;

        border-right: solid 1px #ddd;

        a {
          color: #4a4a4a;

        }
      }
    }
  }
}


